body {
  margin: 0;
  background-color: #f9f9ff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #282642;
}

h1 {
  margin: 0;
}

h3 {
  color: #454360;
}

p {
  color: #5e6183;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 65px;
  color: #a1a2a8;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
.lista {
  list-style: none;
  width: 100%;

  margin: 0;
  margin-top: 3px;
  align-self: center;
}
.items-list {
  margin: 0;
  display: inline-block;
  margin-left: 5%;
}

.menu h1 {
  align-self: center;
  margin: 0;
  color: #282642;
  margin-left: 5%;
  font-family: "Lobster", cursive;

  font-size: 1.25em;
}
.banner {
  display: flex;
  width: 100%;
}
.profile {
  background-image: url("img/olena-.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  display: flex;
  height: 90vh;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container-profile {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  flex-flow: column wrap;
}
.photo-profile {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.name {
  margin-bottom: 0;
  font-family: "Lobster", cursive;
  color: #353353;
}

.profile-description {
  color: #353353;
}

.buttom-profile {
  cursor: pointer;
  background-color: #2ecc71;
  width: 70%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}

.link {
  color: white;
}

.about {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;

  width: 80%;
  overflow: hidden;
}

.about-container {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.about-img {
  height: 250px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.about-img img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.description-about {
  width: 70%;
  background-color: white;
  padding: 2%;
  border-radius: 25px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 28px #d0d0d0, -10px -10px 28px #f0f0f0;
}

.about-grid1 {
  width: 50%;
  margin-right: 20px;
}

.buttom-about {
  width: 150px;
  height: 35px;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.click-about {
  color: white;
}

.services {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.card-services {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.grid-card {
  width: 300px;
  height: 275px;
  border-radius: 20px;
  margin-top: 8%;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: #454360;
  box-shadow: 10px 10px 28px #d0d0d0, -10px -10px 28px #f0f0f0;
}

.card0 {
  background-color: #46d1fd;
}
.card2 {
  background-color: #ed5e26;
}

.card1 {
  background-color: #ffd13e;
}

.img {
  height: 30%;
}

.grid-card p {
  text-align: center;
  color: #344141;
}

/* Efectos secundarios*/
.items-list a:hover {
  color: #2dc06b;
  border-bottom: solid 2px #2dc06b;
}

.buttom-profile:hover {
  background-color: #2dc06b;
}

#progress {
  background: #f1f1f1;
  border-radius: 13px;
  height: 10px;
  width: 300px;
  margin-top: 10px;
}

#progress:after {
  content: "";
  display: block;

  height: 100%;
  border-radius: 9px;
}

.progress0::after {
  width: 85%;
  background-color: #ed5e26;
}

.progress1::after {
  width: 67%;
  background-color: #ffd13e;
}

.progress2::after {
  width: 89%;
  background-color: #46d1fd;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
  margin-left: 10%;
  align-items: center;
  padding: 0 1rem;
  flex-flow: wrap;
  padding: 3rem 0;
  margin-bottom: 5%;
}

.wrapper {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 6px 6px 43px #d9d9d9, -6px -6px 43px #e7e7e7;

  margin-right: 5%;
}

.wrapperGrid {
  margin-right: 0;
}

.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.container li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
.container li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.container li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.time {
  color: #2a2839;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 601px) {
  .time {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .time {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}

p {
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 0.4rem;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}

.experience {
  margin-left: 10%;
}

/*-----------------------------time line----------*/

.contact {
  margin-left: 10%;
  margin-bottom: 10%;
}

.input {
  margin-top: 2.5%;
  display: inline-block;
  margin-right: 2.5%;
  width: 25%;
  height: 50px;
  border-style: none;
  border-radius: 30px;
  box-shadow: 6px 6px 43px #d9d9d9, -6px -6px 43px #e7e7e7;
}

.input-area {
  border-radius: 20px;
  display: block;
  margin-top: 3%;
  width: 52.5%;
  border-style: none;
  box-shadow: 6px 6px 43px #d9d9d9, -6px -6px 43px #e7e7e7;
  text-indent: 10px;
  line-height: 25px;
}

.contact-buttom {
  cursor: pointer;
  margin-top: 2.5%;
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 40px;
  background-color: #2ecc71;
}

.contact-buttom a {
  color: white;
}
